<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucier.model">
    <resultMap type="com.lucifer.model.Question" id="QuestionMap">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="image_url" property="imageUrl"/>
        <result column="score" property="score"/>
        <result column="right_key" property="rightKey"/>
        <result column="A" property="A"/>
        <result column="B" property="B"/>
        <result column="C" property="C"/>
        <result column="top" property="top"/>
    </resultMap>


</mapper>