/*320px布局*/
html{font-size: 100px;}
body{font-size: 0.14rem;/*实际相当于14px*/}
body{
    padding:0;
    margin:0;
}
.div2{
    font-size:0.14rem;
}
.div3{
    width:3rem;
    height:3rem;

    border:1px solid #000;
    box-sizing:border-box;
}
.div4{
    margin-top:0.1rem;
    width:2rem;
    height:2rem;

    border:1px solid #000;
    box-sizing:border-box;
}
.img1{
    width:3.2rem;
}


.bg1{
   height: 100%;
   width: 100%;
   background-position: center 0;
   background-repeat: no-repeat;
   background-size: cover;
   transition: opacity 200ms ease-in-out;
}

.checkboxFour {
     width: 40px;
     height: 40px;
     background: #ddd;

     border-radius: 100%;
     position: relative;
     -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
     -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
     box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
 }

 input[type=checkbox] {
     visibility: hidden;
 }

 .checkboxFour input[type=checkbox]:checked+label {
     background: #26ca28;
 }

 .checkboxFour label {
     display: block;
     width: 30px;
     height: 30px;
     border-radius: 100px;
     -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
     -o-transition: all .5s ease;
     -ms-transition: all .5s ease;
     transition: all .5s ease;
     cursor: pointer;
     position: absolute;
     top: 5px;
     left: 5px;
     z-index: 1;
     background: #333;
     -webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
     -moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
     box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
 }


 .roundedOne {
     width: 28px;
     height: 28px;
     position: relative;
     margin: 20px auto;
     background: #fcfff4;
     background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
     background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
     background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
     -moz-border-radius: 50px;
     -webkit-border-radius: 50px;
     border-radius: 50px;
     -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
     -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
     box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
 }

 .roundedOne input[type=checkbox] {
     visibility: hidden;
 }

 .roundedOne .outer {
     width: 20px;
     height: 20px;
     cursor: pointer;
     position: absolute;
     left: 4px;
     top: 4px;
     background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
     background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
     background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
     -moz-border-radius: 50px;
     -webkit-border-radius: 50px;
     border-radius: 50px;
     -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
     -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
     box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
 }

.roundedOne .inner {
     content: '';
     width: 16px;
     height: 16px;
     position: absolute;
     top: 2px;
     left: 2px;
     background: #00bf00;
     background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
     background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
     background: linear-gradient(to bottom, #00bf00 0%, #009400 100%);
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
     opacity: 0;
     -moz-border-radius: 50px;
     -webkit-border-radius: 50px;
     border-radius: 50px;
     -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
     -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
     box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
 }

 .roundedOne input[type=checkbox]:checked+label {
     opacity: 1;
 }